.banner-container{
     background-image: url('https://image.freepik.com/free-vector/hand-drawn-minimal-background_23-2149017896.jpg');
     background-repeat: no-repeat;
     background-size: cover;
}
.custom-color{
     color: #FF014F;
}
.icon-style{
     padding: 20px;
     box-shadow: 1px 1px 1px 1px ;
     text-decoration: none;
}

.icon-style:hover{
     padding: 20px;
     color: white;
     background-color: #E30D2B;
}