body{
     background-image: url('https://image.freepik.com/free-vector/network-mesh-wire-digital-technology-background_1017-27428.jpg');
     background-repeat: no-repeat;
     background-size: cover;
}
